.subtitle {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-top: -10px;
}

.home .btn {
    margin-top: 20px;
}

.footer {
    text-align: center;
    color: #888;
    margin-top: 30px;
}

.btn-green {
    background: #28a745;
}

.status-text {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #444;
}

#results {
    margin-top: 20px;
}

.present {
    padding: 12px;
    margin-bottom: 10px;
    background: #e5ffe7;
    border-left: 6px solid #28a745;
    border-radius: 10px;
}

.absent {
    padding: 12px;
    margin-bottom: 10px;
    background: #ffe5e5;
    border-left: 6px solid #ff2b2b;
    border-radius: 10px;
}
